<section>
  <div class="contentBx">
    <div class="formBx">
      <h2>ログイン</h2>
      <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
        <div class="inputBx">
          <span><%= f.label :メールアドレス　%></span>
          <%= f.email_field :email %>
        </div>
        <div class="inputBx">
          <span><%= f.label :パスワード　%></span>
          <%= f.password_field :password %>
        </div><br>
        <div class="inputBx">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>      
      アカウントをお持ちではないですか？　<%= link_to "新規登録する", new_user_path %>
    </div>
  </div>
</div>