<h1>アカウント新規登録</h1>
<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li>・<%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
  <br>
<%= form_with(model: @user, local: true) do |f| %>
  <div>
    <%= f.label :アカウント名　%><br>
    <%= f.text_field :name %>
  </div>
    <div>
    <%= f.label :メールアドレス　%><br>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :パスワード　%><br>
    <%= f.password_field :passwoed %>
  </div>
  <div>
    <%= f.label :パスワード（確認用）%><br>
    <%= f.password_field :passwoed_confirmation %>
  </div>
  <div>
    <%= f.submit "新規作成", disable_with: '新規作成...' %>
  </div>
<% end %>
