  <div class="contentBx">
    <div class="formBx">
      <h2>管理者用アカウント新規登録</h2>
      <%= form_with(model: [:admin,@user], local: true) do |f| %>
        <div class="inputBx">
          <span class="label"><%= f.label :アカウント名　%></span>
          <%= f.text_field :name %>
        </div>
        <div class="inputBx">
          <span class="label"><%= f.label :メールアドレス　%></span>
          <%= f.email_field :email %>
        </div>
        <div class="inputBx">
          <span class="label"><%= f.label :パスワード（半角英数字６文字以上）　%></span>
          <%= f.password_field :password %>
        </div>
        <div class="inputBx">
          <span class="label"><%= f.label :パスワード（確認用）%></span>
          <%= f.password_field :password_confirmation %>
        </div>
          <div class="inputBx">
            <span class="label"><%= f.label :管理権限付与 %></span>
            <%= f.check_box :admin %>
          </div><br>
        <div class="inputBx">
          <%= f.submit "新規作成", disable_with: '新規作成...' %>
        </div>        
      <% end %>
      アカウントをお持ちですか？　<%= link_to "ログインする", new_session_path %>
    </div>
  </div>


